<!DOCTYPE html>
<html lang="en">
    <head></head>
    <body>
        <div class="col-6">
            <div
                class="card mx-auto"
                th:classappend="${onSoldPage} ? 'flex-column-reverse' : ''"
                th:fragment="itemcard(item)"
            >
                <img
                    src="https://source.unsplash.com/random/400x300?shirt"
                    th:src="${item.getImageId()} ? 'https://images.unsplash.com/'+${item.getImageId()}+'?crop=entropy&fit=crop&fm=png&h=300&w=400' : 'https://source.unsplash.com/random/400x300?shirt&sig='+${#strings.randomAlphanumeric(15)}"
                    class="card-img-top"
                    alt="Apparel photo"
                    th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                />
                <div class="card-body d-flex flex-column">
                    <div class="text-end" th:unless="${onSoldPage}">
                        <span
                            class="badge bg-success text-light"
                            th:if="${item.isNew()}"
                        >
                            New Arrival
                        </span>
                        <span
                            class="badge bg-warning text-dark"
                            th:if="${item.isSale()}"
                        >
                            On sale
                        </span>
                    </div>
                    <h2 class="h4 text-center text-break py-3 text-danger">
                        <span th:text="${item.getName()}"> Name </span>
                    </h2>
                    <p
                        class="card-text text-info"
                        sec:authorize="hasRole('ROLE_ADMIN')"
                    >
                        - Bought
                        <span th:text="${item.getBuyCount()}"> 100 </span>
                        times
                    </p>
                    <h3 class="h5 mb-2 text-dark">
                        &#8377;
                        <span th:text="${item.getCost()}"> 1000.52 </span>
                    </h3>

                    <p class="card-text">
                        <span th:each="tag : ${item.getTags()}">
                            <span
                                class="badge rounded-pill bg-secondary"
                                th:text="${tag}"
                            >
                                shirt
                            </span>
                        </span>
                    </p>

                    <div class="text-end mt-auto">
                        <th:block
                            th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                        >
                            <a
                                th:href="@{/buy/{itemId}(itemId=${item.getId()})}"
                                class="btn btn-primary"
                                th:unless="${onSoldPage}"
                            >
                                <i class="bi bi-cart-plus"></i>
                            </a>
                        </th:block>
                        <a
                            th:attr="data-del-id='item-'+${item.getId()}"
                            th:href="@{/item/delete/{itemId}(itemId=${item.getId()})}"
                            sec:authorize="hasRole('ROLE_ADMIN')"
                            onclick="event.preventDefault();"
                            class="ms-auto btn btn-danger delete-item"
                        >
                            <i class="bi bi-trash3"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
