<!DOCTYPE html>
<html lang="en">
    <head></head>

    <body>
        <th:block th:fragment="footer">
            <footer class="container-fluid">
                <div
                    class="d-flex flex-wrap justify-content-end py-3 my-4 border-top"
                >
                    <div class="col-md-6 col-lg-4 d-flex justify-content-end">
                        <span class="text-muted">
                            &copy;
                            <span th:text="${date}"></span>
                            Apparel Store | All Rights Reserved
                        </span>
                    </div>
                </div>
            </footer>
            <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            ></script>
        </th:block>
    </body>
</html>
