<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block
            th:include="fragments/head :: head('Login/SignUp')"
        ></th:block>
        <link href="/css/login.css" rel="stylesheet" />
    </head>

    <body>
        <!-- NAV SECTION -->
        <th:block th:replace="fragments/nav/navbar :: navbar(4)"></th:block>
        <!--END NAV SECTION -->

        <!--AUTH SECTION-->
        <main class="container">
            <!--AUTH ALERTS SECTION-->
            <div
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
                th:if="${param.error}"
            >
                <p class="my-0">
                    <i class="bi bi-exclamation-triangle-fill"></i>
                    Invalid Credentials provided
                </p>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                ></button>
            </div>
            <div
                class="alert alert-success alert-dismissible fade show"
                role="alert"
                th:if="${param.logout}"
            >
                <p class="my-0">
                    <i class="bi bi-check-circle-fill"></i>
                    Log Out Successful
                </p>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                ></button>
            </div>
            <!--END AUTH ALERTS SECTION-->

            <div class="row full-height justify-content-center">
                <div class="col-12 text-center align-self-center">
                    <div class="py-5 pt-sm-2 text-center">
                        <h6 class="pb-1 fw-bold">
                            <span>Log In</span>
                            <span class="px-3"></span>
                            <span>Sign Up</span>
                        </h6>

                        <input
                            class="custom-checkbox d-none"
                            type="checkbox"
                            id="reg-log"
                            name="reg-log"
                        />
                        <label for="reg-log"><i class="bi"></i></label>

                        <div class="card-3d-wrap mx-auto mt-5">
                            <div class="card-3d-wrapper">
                                <div
                                    th:replace="fragments/auth/login :: login"
                                ></div>
                                <div
                                    th:replace="fragments/auth/register :: register"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--END AUTH SECTION-->

        <!--FOOTER SECTION -->
        <th:block th:replace="fragments/footer :: footer"></th:block>
        <!-- END FOOTER SECTION -->
    </body>
</html>
