<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:include="fragments/head :: head(Home)"></th:block>
    </head>

    <body>
        <!-- NAV SECTION -->
        <th:block th:replace="fragments/navbar :: navbar(-1)"></th:block>
        <!--END NAV SECTION -->

        <section>
            <div class="container my-3 py-3">
                <h2 class="text-center">Our Offerings</h2>
                <div class="row" id="sale">
                    <div
                        th:replace="fragments/itemlist :: itemlist(${all})"
                    ></div>
                </div>
            </div>
        </section>

        <!--FOOTER SECTION -->
        <th:block th:replace="fragments/footer :: footer"></th:block>
        <!-- END FOOTER SECTION -->
    </body>
</html>
