<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:include="fragments/head :: head(Search)"></th:block>
    </head>

    <body>
        <!-- NAV SECTION -->
        <th:block
            th:replace="fragments/nav/navbar :: navbar(${isSearch} ? -2 : 2)"
        ></th:block>
        <!--END NAV SECTION -->

        <!-- SEARCH SECTION -->
        <section th:unless="${isSearch}">
            <div class="container my-3 py-3">
                <form class="row g-3">
                    <div class="col-12">
                        <div class="form-floating">
                            <input
                                name="name"
                                id="name"
                                type="text"
                                class="form-control"
                                placeholder="city"
                                required
                            />
                            <label for="name">Item Name</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="customRange2" class="form-label">
                            Choose maximum price
                        </label>
                        <input
                            disabled
                            type="number"
                            class="form-control text-primary"
                            id="customRange"
                            th:min="${minRange}"
                            th:max="${maxRange}"
                            th:value="${maxRange}"
                        />
                        <input
                            name="range"
                            type="range"
                            class="form-range"
                            th:min="${minRange}"
                            th:max="${maxRange}"
                            th:value="${maxRange}"
                            id="customRange2"
                        />
                        <div class="d-flex justify-content-between">
                            <span th:text="${minRange}"></span>
                            <span th:text="${maxRange}"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">
                                <span th:if="${isSearch}">New</span>
                                Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="vh-100"></div>
        </section>
        <!-- END SEARCH SECTION -->

        <!-- RESULTS SECTION -->
        <section th:if="${isSearch}">
            <div class="container my-3 py-3">
                <div class="mt-5 text-start">
                    <a
                        th:href="@{/search}"
                        onclick="event.preventDefault();window.history.go(-1);"
                        class="btn btn-primary"
                    >
                        <i class="bi bi-arrow-left"></i>
                        Back to Search
                    </a>
                </div>
                <h2 class="mx-auto text-warning text-center py-3 mb-5">
                    You searched for apparel
                    <span class="text-info" th:text="${name}"></span>
                    below
                    <span class="text-info">
                        &#8377;<span th:text="${range}"></span>
                    </span>
                </h2>
                <div
                    th:if="${searchResults.size() > 0}"
                    id="search"
                    class="row my-3"
                >
                    <div
                        th:replace="fragments/item/itemlist :: itemlist(${searchResults})"
                    ></div>
                </div>
                <div th:unless="${searchResults.size() > 0}">
                    <h3 class="text-danger text-center">No results found</h3>
                </div>
            </div>
        </section>
        <!-- END RESULTS SECTION -->

        <!--FOOTER SECTION -->
        <th:block th:replace="fragments/footer :: footer"></th:block>
        <!-- END FOOTER SECTION -->

        <th:block th:unless="${isSearch}">
            <script>
                (() => {
                    document
                        .getElementById("customRange2")
                        .addEventListener(
                            "change",
                            (e) =>
                                (document.getElementById("customRange").value =
                                    e.target.value)
                        );
                })();
            </script>
        </th:block>
    </body>
</html>
