<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head></head>

    <body>
        <th:block th:fragment="navbar(current)">
            <nav
                class="navbar fixed-top navbar-expand-lg navbar-light bg-light border-bottom border-3"
            >
                <div class="container-fluid">
                    <a
                        class="navbar-brand mb-0 h1 text-primary fw-bold"
                        href="/"
                    >
                        Apparel Store
                    </a>
                    <button
                        type="button"
                        class="navbar-toggler"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div
                        class="collapse navbar-collapse"
                        id="navbarSupportedContent"
                    >
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <span
                                th:replace="fragments/nav/navlink :: navlink('/new-arrivals','New Arrivals',${current},0)"
                            ></span>
                            <span
                                th:replace="fragments/nav/navlink :: navlink('/current-sale','On Sale',${current},1)"
                            ></span>
                            <span
                                th:replace="fragments/nav/navlink :: navlink('/search','Search',${current},2)"
                            ></span>
                            <span
                                th:replace="fragments/nav/navlink :: navlink('/orders','Orders',${current},3)"
                            ></span>
                            <span
                                sec:authorize="isAnonymous()"
                                th:replace="fragments/nav/navlink :: navlink('/auth','Login/SignUp',${current},4)"
                            ></span>
                            <form
                                sec:authorize="isAuthenticated()"
                                th:action="@{/logout}"
                                method="post"
                            >
                                <span
                                    class="m-0 p-0"
                                    onclick="event.preventDefault();this.closest('form').submit();"
                                >
                                    <span
                                        th:replace="fragments/nav/navlink :: navlink('/logout','LogOut',${current},-1)"
                                    ></span>
                                </span>
                            </form>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Fixes issue with fixed navbar -->
            <div class="pb-5 mb-5"></div>

            <section class="container" id="alert-container">
                <th:block th:if="${alertMessage}">
                    <th:block
                        th:replace="fragments/alert :: alert(${alertMessage}, ${alertIcon}, ${alertType})"
                    ></th:block>
                </th:block>
            </section>
        </th:block>
    </body>
</html>
